.link {
    position: relative;
    border-radius: 25px;
    background-color: #5ce192;
    width: 129px;
    height: 47px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-in {
    position: absolute;
    top: 13px;
    left: 8px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
    .link {
        width: 100px;
        height: 40px;
    }
    
    .sign-in {
        font-size: 14px;
    }
}