/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
    color: var(--text-dark);
    padding-top: var(--header-height);
}

/* Container */
.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive Typography */
@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    .container {
        padding: 0 40px;
    }
}